<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Autoresizing Scrollers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Cocoa Coder 1 Release.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Cocoa Coder 1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>316E1F80178F35940029A7E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>316E1F9F178F35950029A7E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31C5E6EE178779AE00AB361D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31C5E70F178779AE00AB361D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
